*
{
    padding: 0;
    margin: 0;
}
body
{
    padding: 0;
    margin: 0;
}
/* img{
    opacity:0.2;
    height: 100%;
    width: 100%;
    position: absolute;
} */
body
{
    background-image: url('./../images/patanjali.jpeg');
    /* background: rgba(76, 175, 80, 0.3); */
    background-repeat: no-repeat;
    background-size: 100%;    
    height:100%;
    width: 100%;
   
}
/* .image
{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    background-image: url('./../images/patanjali.jpeg');

} */
select
{
    margin:5px 0px;
    width:100%;
    height:5vh;
}
header
{
    text-align: center;
}
#title
{
    margin-bottom: 10px;
    color:cadetblue;
}
#description
{
    color:darkgrey;
}
#survey-form
{
   margin:20px 30vw;
   padding:10px 30px;
   background-color: antiquewhite;
}
label{
    font-size:large;
}
input
{
    margin:5px 0px 10px 0px;
    height: 4vh;
    width: 100%;
}
.radio
{
    height: 3vh;
    width: 30%;
}
#product
{
    margin-top: 10px;
}
.checkbox
{
    height: 2vh;
    width: 2vw;
    display: inline;


}
button
{
    width: 100%;
    height: 5vh;
}